<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @note.content %>
</p>

<p>
  <b>Project:</b>
  <%= @note.project_id %>
</p>

<p>
  <b>Package:</b>
  <%= @note.package_id %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
